*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: black;
    color: white;
    font-size: 16px;
    overflow: hidden;
}

header {
    position: fixed;
    width: 80vw;
    left:50%;
    transform: translateX(-50%);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 600px;
    gap: 10%px;
    z-index: 2;


    & img {
        width: 250px;
    }

    & nav{
        & ul {
            display: grid;
            grid-template-columns: repeat(3, 200px);
        }
    }
}

section {
background-image: radial-gradient(#e21616, #7c1717);
height: 100vh;
position: relative;

& .list {
width: 70vw;
height: 100%;
margin: auto;
position: relative;

& .item{
    position: absolute;
    inset: 0;
    & .car-img  {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 70%;

        & img {
            width: 100%;
            transform: rotate(-20deg);
        }
    }
}
}
}

.arrows {
    & button {
        & img {
            width: 100px;
        }
    }
}